<p></p>
<div class="container .spacer">
    <div class="panel panel-primary">
        <div class="panel panel-heading">List of Contacts</div>
        <div class="panel panel-body">


            <div>
                <button class="btn btn-primary" (click)="recherche()"> Search to Contact</button>
                <input type="text" [(ngModel)]=motcle />
            </div>

            <table class="table">
                <tr>
                    <th scope="col">ID</th>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Photo</th>

                </tr>


                <tr *ngFor="let c of pagecontacts?.content">

                    <td>{{c.id}}</td>
                    <td>{{c.lastname}}</td>
                    <td>{{c.firstname}}</td>

                    <td>{{c.email}}</td>
                    <td>{{c.photo}}</td>
                    <td><a>Delete</a></td>
                    <td><a>Edit</a></td>

                </tr>

            </table>

            <!-- [ngClass]="{ 'active': i==currentpage}" -->
            <div class="container">
                <ul class="nav nav-pills">
                    <li [ngClass]="{ 'active': i==currentpage}" *ngFor="let p of pages ; let i=index ">
                        <a class="clickable" (click)=gotoPage(i)>{{i}}</a>

                    </li>
                </ul>
            </div>

        </div>
    </div>